
.home-slide{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    text-align: left;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-slide img{
    width: 100%;
}
.home-slide h2{
    font-size: 45px;
    font-weight: 500;
    width: 100% !important;
}
.home-slide h6{
    width: 100%;
}

@media screen and (max-width:780px) {
    .home-slide{
        text-align: center;
    }
    .home-slide h2{
        font-size: 30px;
        font-weight: 600;
    }
    .home-slide h6{
       font-size: 18px;
    }
}
