.home-slide{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    border-top: 8px solid rgb(59, 59, 59);
    padding-left: 40px;
}
.home-slide img{
    width: 70%;
}
.home-slide h2{
    font-size: 45px;
    font-weight: 500;
}
.home-slide h6{
    width: 80%;
}

@media screen and (max-width:780px){
    .home-slide{
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
    }
    .home-slide h2{
        margin-top: 20px;
        font-size: 30px;
    }
    .home-slide h6{
        width: 100%;
        font-size: 18px;
    }
   
}