.get-email-input{
    height: 60px;
    display: flex;
}
.get-email-input input{
    width: 70%;
    background-color: white ;
    border: none ;
    outline: none ;
    padding: 20px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}
.get-email-input button{
    width: 30%;
}
.get-email-text{
    width: 100%;
    font-size: 17px;
}

@media screen and (max-width:780px){
    .get-email-input input{
        width: 100%;
        padding: 0 20px;
    }
    .get-email-input button{
        width: 55%;
    }
}
@media screen and (max-width:580px){
    .get-email-text{
        font-size: 13px;
        padding: 0px 20px;
    }
    .get-email-input{
        height: 50px;
        margin: 0px 20px;
    }
    .get-email-input input{
        width: 65%;
        padding: 0 20px;
    }
    .get-email-input button{
        width: 35%;
        font-size: 11px;
    }
}