.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    background-color: transparent !important;
}
.nav-items img{
    width: 100px;
}
.nav-right-item{
    display: flex;
    align-items: center;
}
.nav-right-item a{
    color: white;
    text-decoration: none;
}