.nav-items{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    background-color: transparent !important;
}
.nav-image{
    width: 100px;
    height: 30px;
}
.nav-right-item-button {
    height: 40px;
}
.nav-right-item-button a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:580px){
    .nav-items{
        padding-left: 25px;
        padding-right: 25px;
    }
    .nav-image{
        width: 80px;
    }
    .nav-right-item-button{
       height: 40px;
    }
    
}