:root {
  --button: #e50914;
  --white: #ffffff;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top-border{
  width: 100%;
  height: 8px;
  background-color: rgb(56, 56, 56);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profiles-page{
  height: 100vh;
}
.profile-wrapper {
  width: 120px;
}
.profile-wrapper img{
  width: 100%;
  height: 120px;
  border-radius: 5px;
}
.add-profile{
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
.profile-wrapper h5 {
  padding-top: 10px;
}
.profiles-btn {
  background: transparent !important;
  border: 1px solid gray !important;
  border-radius: 0px !important;
  color: gray !important;
  padding: 5px 15px !important;
}
.profiles-btn:hover {
  background-color: var(--button) !important;
  border-color: var(--button) !important;
}